.contenedor_global{
    background: rgb(255, 255, 255);
    border: 1px solid #aaaaaa;
    border-radius: 0.5rem;
}
.tituloPrincipal{
    font-weight: bold;
    background-color: #90d1ff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.centrar{
    text-align: center;
}
.general-container {
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    max-height: 100vh;
    gap: 0.5rem;
    padding: 0.5rem;
    background: rgb(255, 255, 255);
}

.general-container div {
    border-radius: 0.5rem;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Asegurar que el mapa ocupe todo el espacio */
.general-container div:last-child {
    display: flex;
    flex-direction: column;
}
.columna1 {
    flex: 0 0 350px; /* Ancho fijo para la lista, ajusta a tu gusto */
    margin: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.columna2 {
    flex: 1; /* El mapa toma todo el espacio restante */
    margin: 0;
    padding: 0;
}
section {
    margin: 0;
    padding: 0;
}
.scroll-container {
    overflow-y: auto;
    flex-grow: 1;
}