.scroll {
    /* Altura máxima para activar el scroll */
    max-height: 100vh; /* Ajusta según tus necesidades */
    height: 100%;
    
    /* Scroll */
    overflow-y: auto; /* Cambia de 'scroll' a 'auto' para que solo aparezca cuando sea necesario */
    overflow-x: hidden;
    
    /* Espaciado interno */
    padding: 0.5rem;
    
    /* Estilos de scrollbar */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #0176d3 #f3f2f2; /* Firefox */
}